@tailwind base;
@tailwind components;
@tailwind utilities;

.containerb {
    width: 100%;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

nav .active {
    color: #D74444;
    
}

.overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.7); */
}

.bg-whidth {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}


.swiper-button-prev, .swiper-button-next {
   display: none;
}